/* Theme */
.dark {
  --bg-color: var(--gray-900);
  --text-color: var(--gray-200);
  --text-color-active: var(--gray-700);
  --border-color: var(--gray-700);
}

/* Layouts */
.themer {
  min-width: 100vw;
  min-height: 100vh;
}

.container {
  display: flex;
  max-width: 640px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: auto;
}

.page {
  width: 100%;
  padding: 1rem;
}

.page-title {
  margin-bottom: 2rem;
}

.section-title {
  margin: 2rem 0;
}

.footer {
  width: 90%;
  max-width: 42rem;
  margin: 2rem 0rem;
}

.footer-text {
  color: var(--text-color);
  text-align: center;
}

.header {
  position: relative;
  width: 100%;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
}

.header-title {
  text-align: center;
}

.header-subtitle {
  text-align: center;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0;
}

.navbar li {
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  padding: 0.25rem 0.5rem;
  box-shadow: none;
}

.navbar li a {
  color: inherit;
}

.navbar li:hover {
  color: var(--text-color-hover);
  box-shadow: var(--shadow);
}

.navbar li:active {
  color: var(--text-color-active);
  box-shadow: none;
}

.logout-button {
  color: var(--text-color);
}

.logout-button:hover {
  color: var(--text-color-hover);
}

.logout-button:active {
  color: var(--text-color-active);
}

.theme-selector {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  padding: 0.25rem;
  min-width: 5rem;
  outline: none;
  border: 2px dashed var(--border-color);
  border-radius: var(--border-radius);
}

.post-searchbar {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 0.5rem 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.post-searchbar:hover {
  box-shadow: var(--shadow);
}

.post-searchbar input {
  all: unset;
}

.post-searchbar svg {
  display: inline-block;
  margin-right: 0.5rem;
  height: 1.25rem;
  width: 1.25rem;
}

.post-card {
  width: 100%;
  padding: 1rem;
  min-height: 3.5rem;

  box-shadow: none;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
}

.post-card:hover {
  box-shadow: var(--shadow);
}

.post-list {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem 0;
}

.empty-post-list-text {
  font-weight: normal;
}

.editing-post-title {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
  font-weight: bold;
  width: fit-content;
  border: 2px dashed var(--green-200);
  border-radius: var(--border-radius);
  padding: 0.25rem 0.5rem;
}

.post-title {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
  font-weight: bold;
}

.post-subtitle {
  margin: 0.5rem 0rem;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
}

.editing-post-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  resize: vertical;
  border: 2px dashed var(--green-200);
  border-radius: var(--border-radius);
  padding: 0.25rem 0.5rem;
}

.post-content {
  overflow-wrap: break-word;
}

.editable-post-button-group {
  margin-top: 1rem;
  border-top: 1px solid var(--border-color);
  padding-top: 0.25rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.btn {
  margin: 0.5rem;
  padding: 0.25rem 0.5rem;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  color: var(--gray-700) !important;
}

.btn-success {
  background-color: var(--green-200);
}

.btn-success:hover {
  background-color: var(--green-300);
}

.btn-success:active {
  background-color: var(--green-400);
  box-shadow: none;
}

.btn-danger {
  background-color: var(--red-200);
}

.btn-danger:hover {
  background-color: var(--red-300);
}

.btn-danger:active {
  background-color: var(--red-400);
  box-shadow: none;
}

.btn-primary {
  background-color: var(--blue-200);
}

.btn-primary:hover {
  background-color: var(--blue-300);
}

.btn-primary:active {
  background-color: var(--blue-400);
  box-shadow: none;
}

.form-card {
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.5rem;

  box-shadow: none;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
}

.form-card:focus-within {
  box-shadow: var(--shadow);
}

.form-card:hover {
  box-shadow: var(--shadow);
}

.form-label {
  font-weight: bold;
}

.form-input {
  border: 2px dashed var(--border-color);
  margin: 0.25rem 1rem;
  padding: 0.25rem;
  width: calc(100% - 2rem);
  border-radius: var(--border-radius);
}

.form-textarea {
  border: 2px dashed var(--border-color);
  margin: 0.25rem 1rem;
  padding: 0.25rem;
  width: calc(100% - 2rem);
  height: 8rem;
  border-radius: var(--border-radius);
  overflow-wrap: break-word;
}

.form-login-button {
  margin: auto;
}

.form-signup-button {
  margin: auto;
}

.profile-subtitle {
  margin-bottom: 1rem;
}

.profile-button-group {
  display: flex;
  margin-bottom: 1.25rem;
}
